:root {
  /* colors */
  --bg: #f5f5f5;
  --white: #fff;
  --primary-color: #1b2132;
  --text-primary: #222;
  --text-secondary: #065401;
  --text-muted: #555;
  --border-color: #dbd6d6;
  --shadow-color: rgba(0, 0, 0, 0.08);

  /* accent colors */
  --accent-color: #ffa770;
  --accent-color-hover: #be6b33;

  /* buttons */
  --btn-primary: #1b2132;
  --btn-primary-hover: #253d7b;

  /* error messages */
  --error-bg: #ffe0e0;
  --error: #c0392b;
  --error-dark: #9a2417;

  /* other */
  --border-radius: 10px;
  --box-shadow: 0px 0px 10px 0px var(--shadow-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg);
  color: var(--text-primary);
}

html, body {
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}